
NEXT_PUBLIC_SUPABASE_URL=https://mbvnljezznpgzworwpag.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XRjpZNU0JXOTOgosqnx2kQ_m-bpWC_N
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XRjpZNU0JXOTOgosqnx2kQ_m-bpWC_N
SUPABASE_SERVICE_ROLE_KEY=replace-with-server-only-service-role-key
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME="Agragati School OS"